
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Icon -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page/fonts/material-icon/css/material-design-iconic-font.min.css') }}">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" id="theme-styles">
    <link rel="shortcut icon" href="{{ url_for('static', filename='sasuke.ico') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page/css/style.css') }}">
</head>
<style type="text/css">
.main {
    padding:50px !important;
}
</style>

<script>

$( document ).ready(function() {

function Notify(type,info)
{
        const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 5000,
        timerProgressBar: true,
        onOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
        })

    Toast.fire({
        icon: type,
        title: info
        })

}//end function



$("#signin").click(function(event) {

   var $your_name = $("#username").val();
   var $your_pass = $("#password").val();
   var $recaptcha = $("#g-recaptcha-response").val();
   if (($username === "") || ($password === "")) {
      event.preventDefault();
        Notify('error','Please fill username and password!')
    }//end if
        else if ($recaptcha === "")
    {//start else
        event.preventDefault();
        Notify('error','Please check Captcha first!')
    }//end else


});//end submit button



});//end jquery


{% import 'bootstrap/wtf.html' as wtf %}
</script>
<body>
    {% include 'utils/notifier.html' %}
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='login_page/images/signin-image.jpg') }}" alt="sing up image"></figure>
                        <a href="{{ url_for('auth.register') }}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h4 class="form-title">Sign up</h4>
                        <form method="POST" class="register-form" id="login-form">

                            {{ form.csrf_token() }}
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password }}
                            </div>
                            <div class="form-group">
                                    {% if form %} {{ form.recaptcha }} {% endif %}
                            </div>
                            <span id="captcha" style="margin-left:100px;color:red" />
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>

                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='login_page/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='login_page/js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>